
#modal-content {
    border: 5px solid #333;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

h2 {
    font-size: 24px;
}

.confirm {
    color: white;
    background-color: #FF5A5F;
    padding: 10px 20px;
    box-shadow: 0 3px 3px black;
}

.cancel {
    color: white;
    background-color: #999999;
    padding: 10px 20px;
    box-shadow: 0 3px 3px black;
}
