.spot-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

@media (max-width: 1024px) {
    .spot-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .spot-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .spot-list {
        grid-template-columns: 1fr;
    }
}

.spot-tile {
    padding: 10px;
    border-radius: 5px;
    height: auto;
    text-decoration: none;
}

.spot-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    aspect-ratio: 3/2;
}

.spot-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.spot-info .location {
    flex-grow: 1;
    font-size: 18px;
    text-align: left;
}

.spot-info .rating {
    font-size: 18px;
    text-align: right;
    color: #666;
    font-weight: bold;
}

.price {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
